/* :host {
    background: #9154f3;
    color: whitesmoke;
    border-top: 1px solid #9154f3;
    padding: 9px 16px;
    box-sizing: border-box;
  } */

  a {
    color: black;
    text-decoration: none;
  }

  span {
    color: black;
    display: flex;
    justify-content: center;
  }