<nav>
  <ul style="width: 75%;">
    <li>
      <a *ngIf="!loggedIn" [routerLink]="['/home']" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="active"
        >Login</a
      >
    </li>
    <li>
      <a
        *ngIf="!loggedIn"
        [routerLink]="['/leaderboard']"
        routerLinkActive="active"
        >Leaderboard</a
      >
    </li>
    <li>
      <a *ngIf="loggedIn" (click)="logout()" routerLinkActive="active"
        >Logout</a
      >
    </li>
  </ul>
</nav>
