<nav>
  <ul style="width: 75%;">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
    <li><a [routerLink]="['/game']" routerLinkActive="active">Game</a></li>
    <li>
      <a [routerLink]="['/leaderboard']" routerLinkActive="active"
        >leaderboard</a
      >
    </li>

    <!-- <li>
            <a routerLink="" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">About</a>
        </li> -->
  </ul>
</nav>
