<nav>
  <ul style="width: 75%;">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li>
      <a *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="active"
        >Login</a
      >
    </li>
    <li>
      <a *ngIf="loggedIn" [routerLink]="['/game']" routerLinkActive="active"
        >Game</a
      >
    </li>
    <li>
      <a [routerLink]="['/leaderboard']" routerLinkActive="active"
        >Leaderboard</a
      >
    </li>
    <li>
      <a *ngIf="loggedIn" (click)="logout()" routerLinkActive="active"
        >Logout</a
      >
    </li>
    <li><a [routerLink]="['/lobbies']" routerLinkActive="active">Lobbies</a></li>


    <!-- <li>
            <a routerLink="" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">About</a>
        </li> -->
  </ul>
</nav>
