/* :host {
    background: #9154f3;
    color: whitesmoke;

    border-top: 0px solid #9154f3;
    font-size: 21px;
    font-weight: 500;
    line-height: 49px;
    border-bottom-width: 1px;
    padding: 0 17px;
} */