<!-- <div class="game-body">
  <div class="card z-depth1">
    <header>
    </header>
    <main>
      <div class="grid-container">
        <ng-container *ngFor='let in of counter(64); let i = index' >
          <div [ngClass]="mod(i) ? this.colour1 : this.colour2"></div>
        </ng-container>
      </div>

    </main>
    <footer>
    </footer>
  </div>
</div> -->




<!-- Should probably use something like this rather -->

<!-- <ng-container *ngFor='let in of counter(32); let i = index' >
    <div [ngClass]="mod(i) ? 'light-section' : 'dark-section'"></div>
  <!-- </ng-container> -->

<!-- <div class="grid-container">
    <ng-container *ngFor='let in of counter(32); let i = index' >
      <div [ngClass]="mod(i) ? 'light-section' : 'dark-section'"></div>
    </ng-container>
  </div> -->

<div class="grid-container">

  <div class="light-section "><img class="rook black"></div>
  <div class="dark-section"><img class="knight black"></div>
  <div class="light-section"><img class="bishop black"></div>  
  <div class="dark-section"><img class="queen black"></div>
  <div class="light-section"><img class="king black"></div>
  <div class="dark-section"><img class="bishop black"></div>
  <div class="light-section"><img class="knight black"></div>
  <div class="dark-section"><img class="rook black"></div>
  
  <div class="dark-section "><img class="pawn black"></div>
  <div class="light-section"><img class="pawn black"></div>
  <div class="dark-section"><img class="pawn black"></div>  
  <div class="light-section"><img class="pawn black"></div>
  <div class="dark-section"><img class="pawn black"></div>
  <div class="light-section"><img class="pawn black"></div>
  <div class="dark-section"><img class="pawn black"></div>
  <div class="light-section"><img class="pawn black"></div>
  
  <div class="light-section"></div>
  <div class="dark-section "></div>
  <div class="light-section "></div>  
  <div class="dark-section "></div>
  <div class="light-section "></div>
  <div class="dark-section "></div>
  <div class="light-section "></div>
  <div class="dark-section "></div>
  
  <div class="dark-section"></div>
  <div class="light-section"></div>
  <div class="dark-section"></div>  
  <div class="light-section"></div>
  <div class="dark-section"></div>
  <div class="light-section"></div>
  <div class="dark-section"></div>
  <div class="light-section"></div>

  <div class="light-section"></div>
  <div class="dark-section"></div>
  <div class="light-section"></div>  
  <div class="dark-section"></div>
  <div class="light-section"></div>
  <div class="dark-section"></div>
  <div class="light-section"></div>
  <div class="dark-section"></div>
  
  <div class="dark-section"></div>
  <div class="light-section"></div>
  <div class="dark-section"></div>  
  <div class="light-section"></div>
  <div class="dark-section"></div>
  <div class="light-section"></div>
  <div class="dark-section"></div>
  <div class="light-section"></div>
  
  <div class="light-section"><img class="pawn white"></div>
  <div class="dark-section"><img class="pawn white"></div>
  <div class="light-section"><img class="pawn white"></div>  
  <div class="dark-section"><img class="pawn white"></div>
  <div class="light-section"><img class="pawn white"></div>
  <div class="dark-section"><img class="pawn white"></div>
  <div class="light-section"><img class="pawn white"></div>
  <div class="dark-section"><img class="pawn white"></div>
  
  <div class="dark-section"><img class="rook white"></div>
  <div class="light-section"><img class="knight white"></div>
  <div class="dark-section"><img class="bishop white"></div>  
  <div class="light-section"><img class="queen white"></div>
  <div class="dark-section"><img class="king white"></div>
  <div class="light-section"><img class="bishop white"></div>
  <div class="dark-section"><img class="knight white"></div>
  <div class="light-section"><img class="rook white"></div>
  
</div>
