<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">

<app-navbar></app-navbar>
<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
<app-footer>
  Copyright 2020 	
  &nbsp;|	&nbsp; 
  <!-- <i class="fas fa-sun"></i>
  <i class="fas fa-moon"></i> -->
  <!-- <fa-icon [icon]="['far', 'bell']"></fa-icon> -->
  &nbsp;|	&nbsp; 
  <a href="https://github.com/plethargy/chess">Github</a>
</app-footer>