<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">

<app-navbar></app-navbar>
<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
  <app-snackbar></app-snackbar>
</main>
<app-footer>
  Copyright 2020 	
  &nbsp;|	&nbsp; 
  <button class="iconbutton" *ngIf="this.themeService.isDarkTheme()" (click)="toggleTheme()">
    <fa-icon [icon]="['fas', 'sun']"></fa-icon>
  </button>
  <button class="iconbutton" *ngIf="!this.themeService.isDarkTheme()" (click)="toggleTheme()">
    <fa-icon [icon]="['fas', 'moon']"></fa-icon>
  </button>  
  &nbsp;|	&nbsp; 
  <a href="https://github.com/plethargy/chess">Github</a>
</app-footer>