/*__________THEME PROPERTIES __________*/
/* Must change src\app\services\theme\theme.ts */
/*_____________________________________*/


/* CARDS  */
.card {
  display: inline-block;

  position: relative;

  background: var(--component-background);
  border-radius: 2px;
  
  margin: 1rem;

  width: 300px;
  height: fit-content; 
}

.z-depth1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.z-depth2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.z-depth3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.z-depth4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.z-depth5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.raise-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

  /* BUTTONS */
  .borderbutton {
    background-color: transparent;
    color: var(--main-font-fade);
    border: 2px solid;
    border-color: var(--main-font-fade);

    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .borderbutton:hover {
    border-color: var(--main-font-fade);
    background-color: var(--main-font-fade);
    color: white;
  }

  .borderbutton:focus {
    border-color: var(--main-font-fade);
    background-color: var(--main-font-fade);
    color: white;
    outline: none;
  }
  
  .iconbutton {
    border: none;
    background-color: transparent;
    color: var(--main-font-fade);
    text-decoration: none;
    font: 1.2em Helvetica, arial, sans-serif;
    outline: none;
    cursor: pointer;
  }
