ul {
  padding: 0;
}
a {
  color: black;
}
.darkerCard {
  background-color: rgb(139, 139, 139);
  border-radius: 4px;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
}

.projectFontFamily {
  letter-spacing: 0.2px;
  font-family: Roboto;
  color: #b4b4b4;
}

.leaderboardName {
  width: 75%;
  text-align: left;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  height: 42px;

  background-color: var(--component-background);

  border: 1px solid;
  border-color: var(--main-fade-light);
  border-radius: 2px;

  cursor: hand;

  outline: none;
}

.google-btn .google-icon-svg {
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
}

.orText {
  margin: 1em 0;
}

#noOpenLobbies {
  margin-bottom: 1em;
}
