<ul>
  <li *ngFor="let lobby of openLobbies" (click)="joinLobby(lobby.id,TEMPNAME2)">
    <a>
      <span>{{lobby.id}}</span> {{lobby.player1}} {{lobby.player2}}
    </a>
  </li>
</ul>

<button (click)="addLobby(TEMPNAME)">New game </button>
<alert></alert>

<!--JUST AN EXAMPLE FROM LIBRARY
<button class="btn btn-success m-1" (click)="alertService.success('Success!!', options)">Success</button>
<button class="btn btn-danger m-1" (click)="alertService.error('Error :(', options)">Error</button>
<button class="btn btn-info m-1" (click)="alertService.info('Some info....', options)">Info</button>
<button class="btn btn-warning m-1" (click)="alertService.warn('Warning: ...', options)">Warn</button>
<button class="btn btn-outline-dark m-1" (click)="alertService.clear()">Clear</button>-->
